@model QuanLyGara.Models.Xe

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Xe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SoKhungSoMay" class="control-label"></label>
                <input asp-for="SoKhungSoMay" class="form-control" />
                <span asp-validation-for="SoKhungSoMay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HangXe" class="control-label"></label>
                <input asp-for="HangXe" class="form-control" />
                <span asp-validation-for="HangXe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DongXe" class="control-label"></label>
                <input asp-for="DongXe" class="form-control" />
                <span asp-validation-for="DongXe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaBan" class="control-label"></label>
                <input asp-for="GiaBan" class="form-control" />
                <span asp-validation-for="GiaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DaBan" class="control-label"></label>
                <input asp-for="DaBan" class="form-control" />
                <span asp-validation-for="DaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
